.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile {
  width: 90%;
  margin: 0 3rem;
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
}

.mission-profile {
  width: 50%;
}

.rocket-profile {
  width: 50%;
}

.profile-list-rocket {
  width: 100%;
}

.profile-list-rocket > tr > td {
  padding: 1rem;
  border: 1px solid #989797;
}
